@media all and (max-width:575px){
    .carousel-caption h1 {
        font-size: 24px;
        padding-bottom: 8px;
    }
    .logo-area a {
        font-size: 14px;
    }
    .carousel-caption p {
        font-size: 16px;
    }
    .btn-book-now {
        margin-bottom: 30px;
    }
}